@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

header.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin: 50px 0;
}

.comment-user {
  font-weight: bold;
}

.comment-card {
  display: flex;
  gap: 10px;
}

section.comment-list {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  background: #fafafa;
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;
}

.btn.disabled {
  background: #dfdfdf;
}

section.action-butons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 24px;
}

a {
  text-decoration: inherit;
}

a > article {
  color: initial;
}

a > article:hover {
  filter: brightness(1.1);
}

body {
  margin: 0;
  background: #efefef;
  font-family: "Inter", sans-serif;
}

article.user-card,
.bio,
article.post-card,
.comment-list,
article.post {
  margin: 24px;
  padding: 10px;
}

.bio {
  background: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin-top: 0;
}

article.post {
  margin-bottom: 10px;
}

article.post-card {
  margin-block: 10px;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 10px 25px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

article.post-card span {
  float: right;
}

article.user-card {
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
  padding: 0;
}

article.user-card > div {
  flex-grow: 1;
  padding: 10px 20px;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

article.user-card span {
  float: right;
}

article.user-card > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  padding: 10px;
  background: #f6f6f6;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
}

article.user-card.single > * {
  background: #fff;
}
