<div class="comment_item">
  <span class="comment_index">
    <%= position %>
  </span>
  <span class="comment_item_user">
    <%= comment.author.name %>
  </span>
  <span class="comment_item_text">
    <%= comment.text %>
  </span>
</div>
