<div class="comment_item">
  <span class="comment_index">
    <%= position %>
  </span>
  <span class="comment_item_user">
    <%= comment.author.name %>
  </span>
  <span class="comment_item_text">
    <%= comment.text %>
  </span>
  <% if can? :destroy, comment %>
    <div class="comment-actions">
      <%= button_to "Delete", [comment.post.author, comment.post, comment], method: :delete, class: 'btn', confirm: "Are you sure You want to delete this comment?" %>
    </div>
  <% end %>
</div>
