<div class="post_item">
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
  </div>
  <div class="post_stats">
    Comments: <%= post.comments_counter %>,
    Likes: <%= post.likes_counter %>
  </div>
</div>
